

<h1 class="text-white fs-1 text-center mt-5"> Bienvenido @ViewBag.nombre !</h1>
<script>
    Swal.fire({
                title: 'Bienvenido!',
                text:'Login Exitoso.',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                duration:4000
            });
</script>