

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido</h1>
    <div class="mt-5">
        <a class="btn btn-dark px-4 boton-redondeado fs-5" style="width:200px"  asp-controller="Home" asp-action="Login">Login</a>

    </div>
    <div class="mt-5">
        <a class="btn btn-dark px-4  boton-redondeado fs-5" style="width:200px" asp-asp-controller="Home" asp-action="Registro">Registro</a>

    </div>
</div>
