@using LoginProgramacion3.Models.ViewModels;
@model UsuarioViewModel

<h1 class="fs-1 text-white text-center mt-5">Registro</h1>
<div class="d-flex justify-content-center align-items-center mt-4">
    <form class="col-9 col-sm-9 col-md-8 col-lg-6 col-xl-4  d-flex flex-column justify-content-center" asp-controller="Home" asp-action="Registro" method="post">

        <!-- Nombre -->
        <div class="mb-3">
            <label asp-for=Nombre  class="form-label boton-redondeado"></label>
            <input asp-for=Nombre type="text" class="form-control" required>
        </div>
        
        <!-- Email -->
        <div class="mb-3">
            <label asp-for=Email class="form-label boton-redondeado"></label>
            <input asp-for=Email type="email" class="form-control" required>
          </div>

        <!-- Password -->
          <div class="mb-3">
            <label asp-for=Password class="form-label"></label>
            <input asp-for=Password type="text" class="form-control" required>
          </div>


          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark  px-4  boton-redondeado w-50 mt-2 fs-5">Registrar</button>
            
          </div>
    </form>


</div>

@if(ViewBag.error == true){

    <script>

        Swal.fire({
                title: 'Error al registrarse',
                icon: 'error',
                confirmButtonText: 'Aceptar',
                duration:4000
            });

    </script>


}